
body {
  background-color: black !important;
  color: white !important;
  margin: 0;
  padding: 0;
}

header {
  border-bottom: 1px solid rgb(121, 116, 116);
}

footer {
  text-align: center;
  margin-top: 100px;
}

.header-link {
  color: white;
  text-decoration: none;
  letter-spacing: 1.2px;
}

.header-left {
  font-size: 22px;
  margin-left: 40px;
}

.header-right {
  padding: 10px;
  margin-right: 10px;
  position: relative
}

.header-right::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: #fff;
  transition: width 0.5s ease; /* トランジション効果の設定 */
}

.header-right:hover {
  color: #fff;
}
.header-right:hover::after {
  width: 100%;
}

.head {
  margin-right: 40px;
}

/* 新規登録 */
.signup-card {
  border: 1px solid rgb(121, 116, 116);
  border-radius: 5px;
  padding: 20px 15px;
}

label {
  margin-bottom: 5px;
}

.login-alert {
  margin-bottom: 15px;
}