{% extends "base.html" %}
{% block title %}ログイン{% endblock %}
{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      {% if error_message %}
        <div class="alert alert-danger login-alert">
          {{ error_message }}
        </div>
      {% endif %}
      <div class="signup-card">
        <div class="card-header">
          ログイン
        </div>
        <div class="card-body">
          <form method="post">
            {% csrf_token %}
            <div class="form-group">
              <label for="username">名前</label>
              <input type="text" class="form-control" id="username" name="username" required>
            </div>
    　　　　　<br>
            <div class="form-group">
              <label for="password">パスワード</label>
              <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <br>
            <button type="submit" class="btn btn-secondary">ログイン</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}