{% extends "base.html" %}
{% block title %}プロフィール{% endblock %}
{% block content %}
<div class="container col-md-6">
  <div class="profile-container">
    {% if profile.backimage %}
      <img src="{{ profile.backimage.url }}" alt="{{ profile.username }}" class="back-profile-image-size">
    {% else %}
      <div class="back-default-image"></div>
    {% endif %}
    <div class="profile-info">
      {% if profile.image %}
        <img src="{{ profile.image.url }}" alt="{{ profile.username }}" class="profile-image-size">
      {% else %}
        <div class="default-image"></div>
      {% endif %}

      {% if request.user == profile.user %}
        <a class="profile-edit" data-bs-toggle="modal" data-bs-target="#exampleModal">プロフィール編集</a>
      {% endif %}

      {% if request.user != profile.user %}
        <a class="follow" id="follow-button" data-following="{{ is_following }}" onclick="followButtonClicked()">フォロー</a>
      {% endif %}
    </div>
    <div class="profile-top">
      <p class="profile-username">{{ profile.username }}</p>
      <div class="achievements">
        <div class="rate">
          <p>達成率</p>{{ rate }}%
        </div>
        <div class="star-average">
          <p>評価 <span>★</span></p>{{ ratin }}
        </div>
      </div>

      <p class="profile-content">{{ profile.content }}</p>
      <ul class="nav nav-tabs" id="myTabs" role="tablist">
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="tab1-tab" data-bs-toggle="tab" href="#tab1" role="tab" aria-controls="tab1" aria-selected="true">
            投稿
            {% if posts %}
              ({{ posts.count }})
            {% endif %}
          </a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="tab2-tab" data-bs-toggle="tab" href="#tab2" role="tab" aria-controls="tab2" aria-selected="false">
            証拠
            {% if evidences %}
              ({{ evidences.count }})
            {% endif %}
          </a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="tab3-tab" data-bs-toggle="tab" href="#tab3" role="tab" aria-controls="tab3" aria-selected="false">
            フォロー
            {% if profile.follows.count > 0 %}
              ({{ profile.follows.count }})
            {% endif %}
          </a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="tab4-tab" data-bs-toggle="tab" href="#tab4" role="tab" aria-controls="tab4" aria-selected="false">
            フォロワー
            {% if profile.followed_by.count > 0 %}
              ({{ profile.followed_by.count }})
            {% endif %}
          </a>
        </li>
      </ul>
      <div class="profile-sepa"></div>
    </div>

    <!--宣言-->
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab1-tab">
        <div class="post">
          {% for post in posts %}
            <div class="post-info">
              <a href="/profile/{{ post.user.id }}">
                <img src="{{ post.user.profile.image.url }}" alt="{{ post.user.profile.username }}" class="post-user-image">
              </a>
              <p class="post-username">{{ post.user.profile.username }}</p>
              <p class="post-timestamp">{{ post.delta }}</p>
            </div>
            {% if post.evidence %}
              <a class="connection-btn" data-bs-toggle="modal" data-bs-target="#connection-evidence-{{ post.id }}">関連する証拠</a>
            {% endif %}
            <div class="post-data">
              <div class="post-period">期日：{{ post.formatted_deadline }}</div>
              <div class="post-content">宣言：{{ post.content }}</div>
              {% if post.image %}
                <img src="{{ post.image.url }}" alt="{{ post.user.profile.username }}" class="post-image">
              {% endif %}
              <div class="button-container">
                <button class="like-button" data-post-id="{{ post.id }}" onclick="likeButtonClicked(this)">
                  <i class="fa-solid fa-heart heart" id="heart-icon-{{ post.id }}"></i>
                  <span class="like-count" id="like-count-{{ post.id }}">{{ post.like_count }}</span>
                </button>
                <div class="button-container-right">
                  {% if request.user == profile.user %}
                    {% if not post.evidence %}
                      <a class="evidence-btn" data-post-id="{{ post.id }}" data-bs-toggle="modal" data-bs-target="#exampleModal2">証拠提出</a>
                    {% endif %}
                    <form action="/delete_post/{{ post.id }}/" method="post">
                      {% csrf_token %}
                      <button class="delete-btn">削除</button>
                    </form>
                  {% endif %}
                </div>
              </div>
            </div>
            <div class="separator"></div>

            <!--投稿に関連する証拠モーダル-->
            <div class="modal fade" id="connection-evidence-{{ post.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">関連する証拠</h5>
                  </div>
                  <div class="modal-body">
                    <div class="post">
                      <div class="post-info">
                        <a href="/profile/{{ post.evidence.user.id }}">
                          <img src="{{ post.evidence.user.profile.image.url }}" alt="{{ post.evidence.user.profile.username }}" class="post-user-image">
                        </a>
                        <p class="post-username">{{ post.evidence.user.profile.username }}</p>
                        <p class="post-timestamp">{{ post.evidence.delta }}</p>
                      </div>
                      <div class="post-data">
                        <div class="evidence-text">{{ post.evidence.text }}</div>
                        {% for evidence_image in post.evidence.images.all %}
                          <img src="{{ evidence_image.image.url }}" alt="{{ post.evidence.user.profile.username }}" class="evidence-modal-image">
                        {% endfor %}
                      </div>
                      <a href="/evidence_detail/{{ post.evidence.id }}" class="evidence-detail-btn">詳細ページ</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>

      <!--証拠-->
      <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab2-tab">
        <div class="post">
          {% for evidence in evidences %}
            <div class="post-info">
              <a href="/profile/{{ evidence.user.id }}">
                <img src="{{ evidence.user.profile.image.url }}" alt="{{ evidence.user.profile.username }}" class="post-user-image">
              </a>
              <p class="post-username">{{ evidence.user.profile.username }}</p>
              <p class="post-timestamp">{{ evidence.delta }}</p>
            </div>
            <a class="connection-btn" data-bs-toggle="modal" data-bs-target="#connection-declaration">関連する宣言</a>
            <div class="post-data">
              <div class="evidence-text">{{ evidence.text }}</div>
              {% for evidence_image in evidence.images.all %}
                <img src="{{ evidence_image.image.url }}" alt="{{ evidence.user.profile.username }}" class="evidence-image">
              {% endfor %}
            </div>
            <a href="/evidence_detail/{{ evidence.id }}" class="connection-btn">詳細ページ</a>
            {% if request.user == profile.user %}
              <form action="/delete_evidence/{{ evidence.post.id }}/" method="post" class="delete-form">
                {% csrf_token %}
                <button class="delete-btn">削除</button>
              </form>
            {% endif %}
            <div class="separator"></div>

            <!--証拠に関連する宣言モーダル-->
            <div class="modal fade" id="connection-declaration" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">関連する宣言</h5>
                  </div>
                  <div class="modal-body">
                    <div class="post">
                      <div class="post-info">
                        <a href="/profile/{{ evidence.post.user.id }}">
                          <img src="{{ evidence.post.user.profile.image.url }}" alt="{{ evidence.post.user.profile.username }}" class="post-user-image">
                        </a>
                        <p class="post-username">{{ evidence.post.user.profile.username }}</p>
                        <p class="post-timestamp">{{ evidence.post.delta }}</p>
                      </div>
                      <div class="post-data">
                        <div class="post-period">期日：{{ evidence.post.period }}</div>
                        <div class="post-content">宣言：{{ evidence.post.content }}</div>
                        {% if evidence.post.image %}
                          <img src="{{ evidence.post.image.url }}" alt="{{ evidence.post.user.profile.username }}" class="post-image">
                        {% endif %}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
　
      <!--フォロー-->
      <div class="tab-pane fade" id="tab3" role="tabpanel" aria-labelledby="tab3-tab">
        {% for profile in follows_profiles %}
          <div class="profile-follows">
            <a href="/profile/{{ profile.user.id }}">
              <img src="{{ profile.image.url }}" alt="{{ profile.username }}" class="post-user-image">
            </a>
            <p class="profile-username">{{ profile.username }}</p>
          </div>
          <div class="profile-separator"></div>
          {% endfor %}
      </div>

      <!--フォロワー-->
      <div class="tab-pane fade" id="tab4" role="tabpanel" aria-labelledby="tab4-tab">
        {% for profile in followed_profiles %}
          <div class="profile-follows">
            <a href="/profile/{{ profile.user.id }}">
              <img src="{{ profile.image.url }}" alt="{{ profile.username }}" class="post-user-image">
            </a>
            <p class="profile-username">{{ profile.username }}</p>
          </div>
          <div class="profile-separator"></div>
          {% endfor %}
      </div>

    </div>
  </div>
  </div>

  <!--プロフィール編集モーダル-->
  <div class="modal fade modal-back" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-top">
      <div class="modal-content">
        <div class="modal-edit">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">プロフィール編集</h5>
            <button class="confirm-btn" data-bs-dismiss="modal" aria-label="Close">閉じる</button>
          </div>
          <div class="modal-body">
            <form action="/profile_edit/" method="post" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="form-group">
                <label for="username">名前</label>
                <input type="text" class="form-control" id="username" name="username" required>
              </div>
              <br>
              <div class="form-group">
                <label for="image">トップ画像</label>
                <input type="file" class="form-control" id="image" name="image" accept="image/*" required>
              </div>
              <br>
              <div class="form-group">
                <label for="backimage">バック画像</label>
                <input type="file" class="form-control" id="backimage" name="backimage" accept="image/*" required>
              </div>
              <br>
              <div class="form-group">
                <label for="content">自己紹介</label>
                <textarea class="form-control" id="content" name="content" required></textarea>
              </div>
              <br>
              <button type="submit" class="confirm-btn">登録</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--証拠モーダル-->
  <div class="modal fade modal-back" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-top">
      <div class="modal-content">
        <div class="modal-edit">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">証拠</h5>
            <button class="confirm-btn" data-bs-dismiss="modal" aria-label="Close">閉じる</button>
          </div>
        </div>
        <div class="modal-body">
          <form action="/evidence/" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" id="hiddenPostId" name="post_id" value="">
            <div class="form-group">
              <textarea class="form-control" id="content" name="text" rows="6" placeholder="証拠を提出しよう！ 画像は必須です！" required></textarea>
            </div>
            <br>
            <div class="form-group">
              <label for="image">画像：上限は４枚です</label>
              <input type="file" class="form-control image-post" id="post-image" name="image" accept="image/*">
              <input type="file" class="form-control image-post" id="post-image" name="image" accept="image/*">
              <input type="file" class="form-control image-post" id="post-image" name="image" accept="image/*">
              <input type="file" class="form-control image-post" id="post-image" name="image" accept="image/*">
            </div>
            <br>
            <div id="preview" class="preview"></div>
            <br>
            <button type="submit" class="confirm-btn">提出する</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  </div>

  <!--画像用モーダル-->
  <div id="modal" class="modal">
    <img id="modal-image" src="" alt="Full Image" class="modal-image">
    <span id="close-modal" class="close-modal">Close</span>
  </div>
</div>

<script>
  var userId = '{{ profile.user.id }}';
  var csrfToken = '{{ csrf_token }}';
</script>
{% endblock %}