{% extends "base.html" %}
{% block title %}プロフィール{% endblock %}
{% block content %}
<div class="container col-md-6">
  <div class="profile-container">
    {% if profile.backimage %}
      <img src="{{ profile.backimage }}" alt="{{ profile.username }}" class="back-profile-image-size">
    {% else %}
      <div class="back-default-image"></div>
    {% endif %}
    <div class="profile-info">
      {% if profile.image %}
        <img src="{{ profile.image.url }}" alt="{{ profile.username }}" class="profile-image-size">
      {% else %}
        <div class="default-image"></div>
      {% endif %}

      <a class="profile-edit" data-bs-toggle="modal" data-bs-target="#exampleModal">プロフィール編集</a>


    </div>
    <div class="profile-content">
      <h3>{{ profile.username }}</h3>
      <p>{{ profile.content }}</p>
    </div>
  </div>

  <div class="modal fade modal-back" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">

        <div class="modal-edit">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">プロフィール編集</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form method="post" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="form-group">
                <label for="username">名前</label>
                <input type="text" class="form-control" id="username" name="username" required>
              </div>
              <br>
              <div class="form-group">
                <label for="image">トップ画像</label>
                <input type="file" class="form-control" id="image" name="image" accept="image/*" required>
              </div>
              <br>
              <div class="form-group">
                <label for="image">バック画像</label>
                <input type="file" class="form-control" id="image" name="image" accept="image/*" required>
              </div>
              <br>
              <div class="form-group">
                <label for="content">自己紹介</label>
                <textarea class="form-control" id="content" name="content" required></textarea>
              </div>
              <br>
              <button type="submit" class="confirm-btn">登録</button>
            </form>
          </div>
        </div>

      </div>
    </div>
  </div>




</div>
{% endblock %}