{% extends 'base.html' %}
{% block title %}トップページ{% endblock %}
{% block content %}
<div class="container col-md-6">
  <div class="post">
    {% for post in posts %}
      <div class="post-info">
        <a href="/profile/{{ post.user.id }}">
          <img src="{{ post.user.profile.image.url }}" alt="{{ post.user.profile.username }}" class="post-user-image">
        </a>
        <p class="post-username">{{ post.user.profile.username }}</p>
        <p class="post-timestamp">{{ post.delta }}</p>
      </div>
      <div class="post-data">
        <div class="post-period">期日：{{ post.period }}</div>
        <div class="post-content">宣言：{{ post.content }}</div>
        {% if post.image %}
          <img src="{{ post.image.url }}" alt="{{ post.user.profile.username }}" class="post-image">
        {% endif %}

        <button class="like-button" data-post-id="{{ post.id }}" onclick="likeButtonClicked(this)">
          <i class="fa-solid fa-heart" id="heart-icon"></i>
          <span class="like-count">{{ post.like_count }}</span>
        </button>

      </div>
      <div class="separator"></div>
    {% endfor %}
  </div>

  <div class="modal fade modal-back" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-edit">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">投稿</h5>
              <button class="confirm-btn" data-bs-dismiss="modal" aria-label="Close">閉じる</button>
          </div>
          <div class="modal-body">
              <form action="/post/" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                  <label for="period">いつまでに？</label>
                  <input type="text" class="form-control" id="period" name="period" placeholder="⚪︎月⚪︎⚪︎日までに　今日の18:00頃までに" required>
                </div>
                <br>
                <div class="form-group">
                  <label for="image">画像</label>
                  <input type="file" class="form-control" id="image" name="image" accept="image/*">
                </div>
                <br>
                <div class="form-group">
                  <textarea class="form-control" id="content" name="content" rows="10" placeholder="目標を宣言しよう！ 画像の有無は任意です！" required></textarea>
                </div>
                <br>
                <button type="submit" class="confirm-btn">投稿する</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script>
  var csrfToken = '{{ csrf_token }}';
</script>
{% endblock %}