{% extends 'base.html' %}
{% block title %}トップページ{% endblock %}
{% block content %}
<div class="container col-md-6">
  <ul class="nav nav-tabs" id="myTabs" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="tab1-tab" data-bs-toggle="tab" href="#tab1" role="tab" aria-controls="tab1" aria-selected="true">オール</a>
    </li>
    {% if request.user.is_authenticated %}
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="tab2-tab" data-bs-toggle="tab" href="#tab2" role="tab" aria-controls="tab2" aria-selected="false">フォロー中</a>
      </li>
    {% endif %}
  </ul>

  <div class="profile-sepa"></div>
  <!--オール-->
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab1-tab">
      <div class="post">
        {% for post in posts %}
          <div class="post-info">
            <a href="/profile/{{ post.user.id }}">
              <img src="{{ post.user.profile.image.url }}" alt="{{ post.user.profile.username }}" class="post-user-image">
            </a>
            <p class="post-username">{{ post.user.profile.username }}</p>
            <p class="post-timestamp">{{ post.delta }}</p>
          </div>
          {% if post.evidence %}
            <a class="connection-btn" data-bs-toggle="modal" data-bs-target="#connection-evidence-{{ post.id }}">関連する証拠</a>
          {% endif %}
          <div class="post-data">
            <div class="post-period">期日：{{ post.period }}</div>
            <div class="post-content">宣言：{{ post.content }}</div>
            {% if post.image %}
              <img src="{{ post.image.url }}" alt="{{ post.user.profile.username }}" class="post-image">
            {% endif %}

            <button class="like-button" data-post-id="{{ post.id }}" onclick="likeButtonClicked(this)">
              <i class="fa-solid fa-heart heart" id="heart-icon-{{ post.id }}"></i>
              <span class="like-count" id="like-count-{{ post.id }}">{{ post.like_count }}</span>
            </button>

          </div>
          <div class="separator"></div>
        {% endfor %}
      </div>
    </div>

     <!--フォロー中-->
　　{% if request.user.is_authenticated %}
    <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab2-tab">
      <div class="post">
        {% for post in follows_posts %}
          <div class="post-info">
            <a href="/profile/{{ post.user.id }}">
              <img src="{{ post.user.profile.image.url }}" alt="{{ post.user.profile.username }}" class="post-user-image">
            </a>
            <p class="post-username">{{ post.user.profile.username }}</p>
            <p class="post-timestamp">{{ post.delta }}</p>
          </div>
          <div class="post-data">
            <div class="post-period">期日：{{ post.period }}</div>
            <div class="post-content">宣言：{{ post.content }}</div>
            {% if post.image %}
              <img src="{{ post.image.url }}" alt="{{ post.user.profile.username }}" class="post-image">
            {% endif %}

            <button class="like-button" data-post-id="{{ post.id }}" onclick="likeButtonClicked(this)">
              <i class="fa-solid fa-heart heart" id="heart-icon-{{ post.id }}"></i>
              <span class="like-count" id="like-count-{{ post.id }}">{{ post.like_count }}</span>
            </button>

          </div>
          <div class="separator"></div>
        {% endfor %}
      </div>
    </div>
    {% endif %}
  </div>

  <!--投稿に関連した証拠モーダル-->
  <div class="modal fade" id="connection-evidence-{{ post.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">関連する証拠</h5>
        </div>
        <div class="modal-body">
          <div class="post">
            <div class="post-info">
              <a href="/profile/{{ post.evidence.user.id }}">
                <img src="{{ post.evidence.user.profile.image.url }}" alt="{{ post.evidence.user.profile.username }}" class="post-user-image">
              </a>
              <p class="post-username">{{ post.evidence.user.profile.username }}</p>
              <p class="post-timestamp">{{ post.evidence.delta }}</p>
            </div>
            <div class="post-data">
              <div class="evidence-text">{{ post.evidence.text }}</div>
              {% for evidence_image in post.evidence.images.all %}
                <img src="{{ evidence_image.image.url }}" alt="{{ post.evidence.user.profile.username }}" class="evidence-modal-image">
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

　<!--宣言モーダル-->
  <div class="modal fade modal-back" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-top">
      <div class="modal-content">
        <div class="modal-edit">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">宣言</h5>
            <button class="confirm-btn" data-bs-dismiss="modal" aria-label="Close">閉じる</button>
        </div>
        <div class="modal-body">
          <form action="/post/" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
              <label for="period">いつまでに？</label>
              <input type="text" class="form-control" id="period" name="period" placeholder="⚪︎月⚪︎⚪︎日までに　今日の18:00頃までに" required>
            </div>
            <br>
            <div class="form-group">
              <label for="image">画像</label>
              <input type="file" class="form-control" id="image" name="image" accept="image/*">
            </div>
            <br>
            <div class="form-group">
              <textarea class="form-control" id="content" name="content" rows="6" placeholder="目標を宣言しよう！ 画像の有無は任意です！" required></textarea>
            </div>
            <br>
            <button type="submit" class="confirm-btn">宣言する</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!--画像用モーダル-->
  <div id="modal" class="modal">
    <img id="modal-image" src="" alt="Full Image" class="modal-image">
    <span id="close-modal" class="close-modal">Close</span>
  </div>
</div>


<script>
  var csrfToken = '{{ csrf_token }}';
</script>
{% endblock %}